*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#interface{
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    margin: auto;
    width: 100%;
    height: auto;
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 70px;
    background: linear-gradient(silver,black);
    
}
#veios{
    left:20px;
}
#lokos{
    left:-17px;
}
.img{
    position: relative;
    margin-left: 12px;
    margin-bottom: 10px;
    width: 32%;
    height: 80%;
}
#logo{
    position: relative;
    margin-left: 14px;
    height: 110px;
    z-index: 1;
}

  #texto{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: auto;
        color: rgb(65, 65, 194);
       
        
    }

    .OurO{
        border: 2px solid gold;
    }

.container{  
    position: relative;
    margin-left: 5px;
    margin-top: 50px;
    width: 323px;
    height: auto;
   
}
.containerTecnico{  
    position: relative;
    margin-left: 5px;
    margin-top: 50px;
    width: 323px;
    height: auto;
    
}


#rank{
    position:absolute;
    top: 55px;
    left: 110px;
    }
    #rank h3{
        margin-top: -4px;
    }
